@charset "utf-8";

/* cssリセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd{
    
    color: #4D2208;
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
    padding: 0;
    
}

/* body{
    height: 100vh;
} */

a{
    text-decoration:none;
    color: inherit;
}

ul{
    list-style: none;
}

img{
    /* max-width: 100%;    */
    border: none;
    vertical-align: bottom;
}

/*もっと見るボタンCSSリセット */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
  font-size: 1.35vw;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

/* 8枚絵 */
.whole{
    width: 800vw;
    display: flex;
}

/* ファーストビュー */
.firstpage{
    width: 100vw;
    height: 100vh;
    position: relative;
}

h1 img{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.firstpage_img{
    display: flex;
    position: relative;
}

.dog_illust{
    position: absolute;
    /* 走るCSSアニメーション */
    animation-name: dog_run;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: center bottom;
}

@keyframes dog_run {
    0%{
       left: 0vw;
       top: 0vh; 
    }

    10%{
        left: 0vw;
        top: 0vh; 
     }

    80%{
        left: 70vw;
        top: 0vh;
    }

    100%{
        left: 70vw;
        top: 0vh;
    }

}


.dog_illust img{
    display: flex;
    width: 21.47vw;
    margin-left: 2.63vw;
    margin-top: 73vh;
    position: absolute;
    
}

.ball_illust{
    position: absolute;
    /* バウンドCSSアニメーション */
    animation-name: bound;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: center bottom;
}

@keyframes bound {
    0%{
        left: 0vw;
        top: 0vh;
    }
    50%{left: 0vh;
        top: -10vh;

    }
    100%{
        left: 0vh;
        top: 0vh;
    }
}

.ball_illust img{
    display: flex;
    width: 5.48vw;
    margin-left: 89.77vw;
    margin-top: 89.49vh;
    position: absolute;
}

.all_izz_well{
    position: absolute;
    animation: rotate_anime 3s linear infinite;
    transform-origin: 100% 100%;
}

@keyframes rotate_anime {
    0% {
      transform: rotate(0deg);
      left: 0vw;
      top: 0vh;
    }
    100% {
      transform: rotate(360deg);
      left: 10vw;
      top: 10vh;
      /* transform-origin: 100% 100%; */
    }
  }

.all_izz_well img{
    display: flex;
    width: 16。87vw;
    position: absolute;
}

/* セカンドビュー */
.secondpage{
    width: 100vw;
    height: 100vh;
    position: relative;
}

/* 丸円 */
.border-radius_top {
    width: 13.36vw;
    height: 20.25vh;
    line-height: 200px;
    background-color:#EF9D00;
    border-radius: 50%;
    /* color: #fff;
    text-align: center; */
    position: absolute;
    margin-top: 31vh;
    margin-left: 15vw;
  }

.border-radius_center{
    width: 5.71vw;
    height: 8.79vh;
    line-height: 200px;
    background-color:#EF9D00;
    border-radius: 50%;
    /* color: #fff;
    text-align: center; */
    position: absolute;
    margin-top: 60vh;
    margin-left: 25vw;
}

.border-radius_under{
    width: 3.78vw;
    height: 5.82vh;
    line-height: 200px;
    background-color:#EF9D00;
    border-radius: 50%;
    /* color: #fff;
    text-align: center; */
    position: absolute;
    margin-top: 75vh;
    margin-left: 18vw;
}


h2 img{
    width: 6.83vw;
    /* position: absolute; */
    position: fixed;
    top: 9vh;
    left: 0.39vw;
}

/* .header{
    transform: translateY(-100%);
}

/* .header.active{
    transform: none;
} */

 .header.active{
    opacity: 1;
    visibility: visible;
 }


.header_wrap{
    max-width: 49.31vw;
    margin-top: 15.5vh;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.header_nav{
    /* position: absolute; */
    position: fixed;
    top:1.19vh;
    left: 3.86vw;
    opacity: 0;
    visibility: hidden;
} 

.header_nav ul{
    display: flex;
    font-size: 1.39vw;
    /* width: 49.31vw; */
    position: absolute;
}

.header_nav ul li{
    margin: 15.5vh 6.8vw;
}

.secondpage p {
    font-size: 1.35vw;
    /* 左から縦文字 */
    writing-mode: vertical-rl;
    line-height: 7.96vh;
    margin-left: 48vw;
    margin-top: 33.5vh;
    border-right:1px solid #4D2208 ;
    position: absolute;
}

/* .secondpage p 
} */

.mae{
    font-size: 2.32vw;
}

.line1 {
    border-right:1px solid #4D2208 ;
    display: block;
}
.line2 {
    border-right:1px solid #4D2208 ;
    display: block;
}
.line3 {
    border-right:1px solid #4D2208 ;
    display: block;
}
.line4 {
    border-right:1px solid #4D2208 ;
    display: block;
}
.line5 {
    border-right:1px solid #4D2208 ;
    display: block;
}
.line6 {
    border-right:1px solid #4D2208 ;
    display: block;
}
.line7 {
    border-right:1px solid #4D2208 ;
    display: block;
}




/* ポートフォリオ1 */
.portfolio_1page{
    width: 100vw;
    height: 100vh;
}

.portfolio01{
    display: flex;
}

.portfolio01 h2{
    writing-mode: vertical-rl;
    /* 左から縦文字 */
    font-size: 2.32vw;
    margin-top: 25vh;
    margin-left: 3.94vw;
}

.portfolio01 img{
    width: 74.13vw;
    margin-left: 14.98vw;
    margin-top: 25vh;
}

.explanation{
    font-size: 1.35vw;
    margin-left: 22vw;
    margin-top: 9.74vh
}

.portfolio_1page span{
    border-right:3px solid #4D2208 ;
    border-left: 3px solid transparent#4D2208;
    border-bottom: 3px solid transparent#4D2208;
    /* transform:rotate(0deg,45deg,0deg,45deg); */
    /* width: 30px;
    border-bottom: 40px solid #55A4A0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    height: 0; */
}

/* ポートフォリオ2 */
.portfolio_2page{
    width: 100vw;
    height: 100vh;
}

.portfolio02{
    display: flex;
}

.portfolio02 h2{
    writing-mode: vertical-rl;
    font-size: 2.32vw;
    margin-top: 25vh;
    margin-left: 3.94vw;
}

.portfolio_2page img{
    width: 53.2vw;
    margin-left: 14.98vw;
    margin-top: 25vh;
}

.portfolio_2page span{
    border-right:3px solid #4D2208 ;
    border-left: 3px solid #4D2208;
    border-bottom: 3px solid #4D2208;
    /* transform:rotate(0deg,45deg,0deg,45deg); */
}

/* ポートフォリオ3 */
.portfolio_3page{
    width: 100vw;
    height: 100vh;
    
}

.portfolio03{
    display: flex;
    /* justify-content: space-around; */
}

.portfolio03 h2{
    writing-mode: vertical-rl;
    font-size: 2.32vw;
    margin-top: 25vh;
    margin-left: 3.94vw;
}

.portfolio_3page img{
    width: 46.56vw;
    margin-left: 14.98vw;
    margin-top: 25vh;
}

.portfolio_3page a.btn--circle {
    margin-left: 10vw;
}

.portfolio_3page span{
    border-right:3px solid #4D2208 ;
    border-left: 3px solid #4D2208;
    border-bottom: 3px solid #4D2208;
    /* transform:rotate(0deg,45deg,0deg,45deg); */
}

/* 会社紹介 */
.company-page{
    width: 100vw;
    height: 100vh;
    background-color: #FFEFDC;
    display: flex;
    justify-content: space-around;
}

.company-page img{
    width: 26.6vw;
    margin-top: 25vh;
}

.company-page p{
    font-size: 1.35vw;
}

/* もっと見るボタン */
a.btn--orange {
    color: #fff;
    background-color: #EA9900;
  }
  
  a.btn--orange:hover {
    color: #fff;
    background: #f56500;
  }
  
  a.btn--shadow {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  }
  
  a.btn--circle {
    border-radius: 50%;
    line-height: 24.94vh;
    width: 16.22vw;
    height: 24.94vh;
    padding: 0;
    margin-top: 41.57vh;
  }


/* ブログページ */
.blog-page{
    width: 100vw;
    height: 100vh;
}

/* 自己紹介ページ */
.my-page{
    width: 100vw;
    height: 100vh;
    background-color: #FFEFDC;
    position: relative;
}

.maeno_yudai_page{
    display: flex;
    margin-top: 25vh;
}

.my-page .plofile-img{
    width: 42.36vw;
    /* margin-top: 25vh; */
    margin-left: 5vw;
}

.profile{
    display: flex;
    margin-left: 7.5vw;
}

.name{
    font-size: 1.93vw;
    /* margin-top: 25vh; */
    margin-left: -5vw;
}

.maeno_yudai{
    font-size: 1.35vw;
    margin-top: 0.5vh;
    margin-left: 0.5vw;
}

.instagram_logo img{
    width: 2.7vw;
    height: 4.16vh;
    /* margin-top: 0.5vh; */
    margin-left: 3vw;
}

/* .profile_flex{
    display: flex;
} */

.my_explanation{
    font-size: 1.35vw;
    margin-left: 50vw;
    margin-top: -28vh;
}

.c_maeno_yudai{
    font-size: 1.16vw;
    text-align: center;
    margin-top: 20vh;
}
